@import 'variables.css';

form {
    margin: 2.5rem 5rem;
    padding: 2rem;
    background-color: var(--container_color, #2a2a2e);
    border-radius: 1rem;
    font-size: 1rem;

    fieldset {
        border: 1px solid #555;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    legend {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 1rem;
    }

    label {
        display: block;
        margin-top: 1rem;
        font-weight: 600;
    }

    input,
    textarea {
        width: 100%;
        max-width: 80%;
        padding: 0.75rem;
        margin-top: 0.5rem;
        background-color: var(--main_background_color, #1a1a1e);
        border: 1px solid #666;
        border-radius: 0.4rem;
        color: var(--text_color);
    }

    textarea {
        height: 8rem;
        resize: vertical;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill {
        box-shadow: 0 0 0px 1000px var(--main_background_color, #1a1a1e) inset !important;
        -webkit-text-fill-color: var(--text_color, white) !important;
    }


    button {
        margin-top: 0.5rem;
        padding: 0.7rem 2rem;
        background-color: darkgray;
        color: white;
        border-radius: 0.4rem;
        cursor: pointer;
        font-size: 1rem;
        transition: var(--transition-bg, background-color 0.3s ease);

        &:hover {
        background-color: #0056b3;
        }
    }
}