@import 'variables.css';

.experience_section {
    margin: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h2 {
        display: flex;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .experience_item {
        /* Extra Credit (Using color-mix()) */
        background-color: color-mix(in srgb, var(--container_color, #2a2a2e) 90%, white 10%);
        padding: 1.5rem 2rem;
        border-radius: 0.8rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

        h2 {
            margin: 0;
            font-size: 1.6rem;
        }

        .date {
            font-size: 0.9rem;
            margin: 0.3rem 0 1rem 0;
        }

        p {
            margin: 0.3rem 0;
            line-height: 1.5;
            font-size: 1rem;
        }

        /* Extra Credit (Using has()) */
        &:has(h2) {
          border: 2px dashed color(display-p3 0 0.5 0.8);
        }
    }
}
